4.JavaCollections/src/main/java/com/jr/level/level33/sandbox/xmlSchemaTest/testMainHouseXSD.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="main" xmlns:bonus="bonus" elementFormDefault="qualified">
    <import namespace="bonus" schemaLocation="testImportedHouseXSD.xsd"/>
    <element name="house">
        <complexType>
            <all>
                <element name="adress" type="string"/>
                <element name="owner" type="bonus:owner"/>
            </all>
        </complexType>
    </element>
</schema>
